<div class="container mt-5">
    <h1>Hi There! I'm Naing Thu Aung</h1>
    <p>You can read me more about me, or checkout my blog</p>
    <%= link_to "About Me", about_path, class:"btn btn-dark" %>
    <%= link_to "Blog", posts_path, class:"btn btn-primary" %>
</div>